version: "3.9"

services:
  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - proxy
    expose:
      - "3001"
    volumes:
      - uptime_kuma_data:/app/data

networks:
  proxy:
    external: true

volumes:
  uptime_kuma_data:
